*dll
*obj
*build*
*egg*
*.ply
*.so
simp_cuda/pamo/__pycache__
simp_cuda/pamo/*so:
*.txt
dataset.py
extract.py
mapping.py
process.py
test_cpu.py
test.py
thingi10k.py
run.sh
make.sh
!mesh/*obj
examples/*
!examples/test_*.sh
